* {
    font-family: 'Crimson Text', serif;
    font-family: 'Open Sans', sans-serif; 
    text-align: center;
}
html {
    background-color: #fafafa;
}
body {
    padding: 5%;
}

img {
    max-width: 100%;
    width: 275px;
    margin-left: 5px;
}
.main-nav a {
    text-decoration: none;
    margin-top: 5px;
    font-weight: bold;
    list-style: none;
    padding-left: 0;
    color: black;
}
.main-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 0%;
    padding-left: 5px;
    
    
}
.container {
    display: inline-block;
    list-style: none;
}
h1 {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Crimson Text', serif;
    margin-left: 16px;
}
.main-footer {
    display: flex;
}
.name-footer {
    float: left;
    text-align: left;
}
.contact {
    list-style: none;
}
.top {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-left: 51px;
    padding-top: 20px;
}
.footer-nav {
    display: none;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
    .main-nav {
        display: flex;
        width: 335px;
        justify-content: space-between;
        text-align: center;   
    }
    .name {
        padding-right: 0px;
        padding-bottom: 15px;
    }
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        list-style: none;
        text-decoration: none;
        padding-left: 180px;
        
    }
    .banner {
        display: flex;
        flex-direction: row-reverse;
    }
    .profile-pic {
        padding-top: 0;
        width: 44%;
        height: auto;
    }
    .bio {
        width: 53%;
        padding-right: 25px;
        text-align: left;
    }
    .project {
        float: left;
        width: 45%;
    }
    img {
        width: 296px;
        margin-left: 34px;
    }
    h2 {
        padding-left: 44px;
    }
    p {
        padding-left: 32px;
    }

    h3 {
        padding-right: 11px;
    }
    h4 {
        padding-right: 308px;
    }
    .contact {
        list-style: none;
    }
    .main-footer {
        display: flex;
    }
    .name-footer {
        float: left;
        text-align: left;
        white-space: nowrap;
    }
    .footer-nav {
        display: flex;
        font-weight: bold;
        list-style: none;
        flex-direction: row;
        width: 80%;
        justify-content: space-evenly;
        margin: auto;
        padding-left: 260px;
    }
    .footer-nav a {
        color: black;
        text-decoration: none;
    }
    .top {
        display: none;
        text-decoration: none;
    }
    .con {
        padding-left: 291px;
        font-size: 20px;
    }
}



@media (min-width: 1024px) {
      .main-header {
        display: flex;
        justify-content: space-between;   
        padding-top: 0;  
    }
    .name {
        padding-right: 0px;
        padding-bottom: 15px;
        margin-top: 0;
        padding-left: 47px;
    }
    .main-nav {
        list-style: none;
        padding-top: 0%;
        color: black;
    }

    .banner {
        display: flex;
        flex-direction: row-reverse;
    }
    p {
        font-size: 31px;
    }
    .profile-pic {
        padding-top: 0;
        width: 30%;
        height: auto;
    }
    .bio {
        width: 53%;
        padding-right: 72px;
        text-align: left;
        font-size: 21px;
    }
    img {
        width: 283px;
    }
    .project {
        float: left;
        width: 33%;
        padding-top: 20px;
    }
    .proj-info {
        text-align: center;
        font-size: 23px;
    }
    .contact {
        list-style: none;
    }
    .main-footer {
        display: flex;
        justify-content: space-evenly;
    }
    .name-footer {
        float: left;
        text-align: left;
        white-space: nowrap;
        padding-top: 50px;
        font-size: 15px;
    }
    .footer-nav a {
        display: flex;
        list-style: none;
        flex-direction: row;
        gap: 4rem;
    }
    .footer-nav {
        display: flex;
        font-weight: bold;
        list-style: none;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        margin: auto;
        padding-left: 481px;
        padding-top: 50px;
    }
    .top {
        display: none;
    }
    .con {
        padding-left: 291px;
        font-size: 20px;
    }
}